// @import .scss => styles
div(className='{styles.root}')
  main(role='main')
    //- Main jumbotron for a primary marketing message or call to action
    //- .jumbotron
      
      //- .container(ref='{clientRef}')
    .container
      .row
        //- .col-sm-9
          Pyramid(year='{year}', fertility='{types}',
            displayGeneration='{displayGeneration}',
          )


        .col-sm-10
          Pyramid(year='{year}', fertility='{types}',
            displayGeneration='{displayGeneration}',
          )
        .col-sm-2
          h2 {year}
          h3 {JSON.stringify(types)}
          input(type='checkbox', checked='{displayGeneration}',
            onChange='{handleDisplayGenerationChange}')
          input.form-control(type='number', defaultValue='{year}',
            onChange='{handleYearChange}')
          
          .btn-group
            button.btn(@for='type in allTypes',
              type='button',
              data-type='{type}',
              onClick='{handleTypeClick}',
              className='{types.indexOf(type) !== -1 ? "btn-primary" : "btn-secondary"}'
              ) {type}

      //- .row
        .col-sm-9
          .card
            .card-body
              | 내용
        .col-sm-3
          .card
            .card-body
              | 옵션
      //- h1.display-3 Rect: {rect.width} x {rect.height}
      //- p
      //-   | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      //- p
        
      //- //- .container
      //- //- ThemeDropdown
      //- input.form-control
      //- a.btn.btn-primary.btn-sm(href='#', role='button') Learn more »